* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --text-color: white;
  --bg-url: url(./src/bg-mobile.png);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.1);
  --surface-color-hover: rgba(255, 255, 255, 0.5);
  --highlight-color: rgba(255, 255, 255, 0.2);
}
body {
  background: var(--bg-url) no-repeat top center/cover;
  height: 100vh;
}
body * {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}
#container {
  width: 100%;
  max-width: 588px;
  margin: 56px auto 0px;
  padding: 0 24px;
  text-align: center;
  align-items: center;
}
#tempo-em-segundos {
  text-decoration: none;
  font-weight: 800;
  font-size: 72px;
}
#modoatual {
  text-decoration: none;
  margin-bottom: 24px;
}
button {
  border: 1px solid;
  border-radius: 8px;
  background-color: white;
  color: #a020f0;
  width: 150px;
  height: 40px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
button:hover {
  background-color: rgb(214, 214, 214);
  border: 1.5px solid var(--text-color);
  transition: background 0.2s;
}
/* .foco {
  background: #1e1e2f;
}
.pausaCurta {
  background: #2f4f2f;
}
.pausaLonga {
  background: #4f2f2f;
} */

/*media queries*/
@media (min-width: 700px) {
  :root {
    --bg-url: url(./src/bg-desktop.jpg);
  }
}
