*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#container{
    width: 100%;
    height: 100vh;
    margin: 56px 0;
    background-color:azure;
    text-align: center;
}
#tempo{
    font-size: 72px;
}
#modoatual{
    margin: 24px 0;
}
#iniciar button{
    background: rgba(255, 255, 255, 0.5);
    
}